@{
Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h4>Vendor Information</h4>
<br>
<h3>@Model["vendor"].Name</h3>
<p>@Model["vendor"].Description</p>
<hr>

<a href="/vendors/@Model["vendor"].Id/orders/new">Create New Order</a>
<hr>

<main class="vendor-order-list">
  @if (Model["vendor"].VendorOrders.Count == 0)
  {
    <p>No orders on file for @Model["vendor"].Name</p>
  }
  else
  {
    @foreach (Order order in Model["vendor"].VendorOrders)
    {
      <h5>@order.Title</h5>
      <p>@order.Description</p>
      <p>@order.Item (@order.quantity)</p>
      <p>@order.PriceAsString()</p>
      <hr>
    }
  }

</main>
